// ---------------------------------------------------------===
// Footer styles
// ---------------------------------------------------------===



#footer {
	
	.container {
		max-width: 1055px;
	}

	.footer-wrap {
		border-top: 2px solid #EBEEF0;
		padding: 43px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@include media('<desktop') {
			padding: 25px 0; 
		}

		@include media('<tablet') {
			padding: 15px 0;
			display: block;
		}
	}
}

.footer-logo {
	width: 112px;

	@include media('<tablet') {
		margin: 0 auto 20px;
	}

	a {
		display: flex;
	}

	img {
		max-width: none;
		width: 100%;
	}
}

.footer-nav {
	@extend %listreset;
	float: right;
	font-size:0;
	text-align: right;
	line-height:0;
	margin: 0 -21px;

	@include media('<desktop') {
		margin: 0 -10px;
	}

	@include media('<tablet') {
		float: none;
		text-align: center;
		width: auto;
		max-width: none;
	}

	> * {
		font-size: 18px;
		line-height: 1.333;

		@include media('<desktop') {
			font-size: 16px;
		}
	}

	li {
		display: inline-block;
		vertical-align: top;
		padding: 0 21px;
		position: relative;

		@include media('<desktop') {
			padding: 0 10px;
			margin-bottom: 5px;
		}

		@include media('<tablet') {
			display: block;
			padding: 0;
		}

		+ li {
			&:before {
				content: '';
				height: 15px;
				width: 2px;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: rgba(31, 57, 71, 0.5);

				@include media('<tablet') {
					display: none;
				}
			}
		}

		&.active {
			a {
				opacity: 1;
			}
		}
	}

	a {
		color: #1F3947;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}

.clutch-widget {
	width: 135px;
	margin: 0 10px;
	height: 40px;
	overflow: hidden;

	@include media('<tablet') {
		margin: 0 auto 20px;
	}
}