// ---------------------------------------------------------===
// General resets
// ---------------------------------------------------------===
#app {
	overflow: hidden;
	position: relative;
}

body {
	@include media('<desktop') {
		font-size: 20px;
	}

	@include media('<tablet') {
		font-size: 17px;
	}

	&.bg-blue {
		background: $blue-dark;
		color: $white;

		a {
			color: $white;

			&:hover {
				color: $blue-fade;
			}
		}
	}
}

.btn-o {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #969696;
	color: #798891;
	font-size: 20px;
	font-weight: 700;
	padding: 6px 15px;
	text-align: center;
	min-width: 150px;
	font-family: $roboto-condensed;

	&:hover {
		background: $white;
		color: $blue-dark;
		border-color: $white;
		opacity: 1;
	}
}

.btn {
	background: $blue-dark;
	border: 2px solid transparent;
	color: $white;
	font-weight: 700;
	font-family: $roboto-condensed;
	padding: 6px 15px;
	font-size: 20px;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	position: relative;
	@include animate(color background);

	&:hover {
		background: lighten($blue-dark, 10%);
	}

	&.btn-icon {
		padding: 15px 45px 15px 21px;
	}

	[class*='icon-'] {
		position: absolute;
		right: 20px;
		font-size: 17px;
		line-height: 1.412;
		top: 50%;
		transform: translateY(-50%);
	}
}

.btn-more {
	color: $white;
	position: relative;
	display: inline-block;
	margin-right: 28px;
	vertical-align: top;
	line-height: 1.2;

	&:before {
		content: '';
		background: #66767E;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1px;
		width: 100%;
		position: absolute;
	}

	span {
		font-size: 7px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -28px;
		transition: right 0.25s linear;

	}

	&:hover {
		span {
			right: -35px;
		}
	}
}

.check-label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-left: 27px;
	font-size: 15px;
	line-height: 1.667;
	margin: 12px 0 16px;

	input[type="checkbox"] {
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;

		&:checked ~ {
			.slide {
				&:before {
					opacity: 1;
				}
			}
		}
	}

	.slide {
		@include size(18px);
		position: absolute;
		left: 0;
		top: 3px;
		border-radius: 2px;
		background: $blue;
		color: $white;
		@extend .icon-check;

		&:before {
			font: 10px/18px icomoon;
			text-align: center;
			right: 0;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			@include animate(opacity);
		}
	}
}

.btn-gray {
	font: 700 18px/1.222 $roboto-condensed;
	color: $white;
	border: 2px solid transparent;
	background: #d3d8db;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	padding: 12px 39px 12px 16px;
	position: relative;
	@include animate(color background);

	&:hover {
		background: $black;

		span {
			right: 14px;
		}
	}

	span {
		font-size: 12px;
		position: absolute;
		top: 50%;
		right: 18px;
		transform: translateY(-50%);
		transition: right 0.25s linear;
	}
}

.btn-o-green,
.btn-o-white,
.btn-blue-light,
.btn-red {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid $green;
	color: $green;
	@include animate(color background);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 38px 12px 19px;
	text-align: center;
	min-width: 150px;
	font-family: $roboto-condensed;
	position: relative;

	&:hover {
		background: $green;
		color: $white;

		span {
			right: 14px;
		}
	}

	span {
		font-size: 12px;
		position: absolute;
		top: 50%;
		right: 18px;
		transform: translateY(-50%);
		transition: right 0.25s linear;
	}
}

.btn-o-white,
.btn-blue-light,
.btn-red {
	font-size: 20px;
	line-height: 1;
	padding: 12px 43px 14px 19px;
	text-transform: none;

	@include media('<desktop') {
		font-size: 16px;
	}
}

.btn-o-white {
	color: $white;
	border-color: $white;

	&:hover {
		color: $black;
		background: $white;
	}
}

.btn-blue-light {
	background: #4267B2;
	color: $white;
	border-color: transparent;

	&:hover {
		color: $white;
		background: darken(#4267B2,20%);
	}
}

.btn-red {
	background: #F20400;
	color: $white;
	border-color: transparent;

	&:hover {
		background: darken(#F20400,20%);
		color: $white;
	}
}

.label {
	color: #4290B9;
	background: #F6F7F8;
	display: inline-block;
	vertical-align: top;
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 157px;

	@include media('<tablet') {
		font-size: 14px;
	}
}

button,
input[type="submit"],
a {
	outline: none;
}

h1.has-decor {
	font: 700 60px/1.2 $roboto-condensed;
	color: $blue-dark;
	text-align: center;
	margin: 0 0 60px;
	padding-bottom: 46px;
	position: relative;
	text-transform: uppercase;

	@include media('<desktop') {
		font-size: 50px;
	}

	@include media('<tablet') {
		font-size: 36px;
		padding-bottom: 20px;
		margin-bottom: 40px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		width: 64px;
		height: 2px;
		background: $blue-dark;
	}
}

h2 {
	font-size: 50px;
	font-weight: 700;
	font-family: $roboto;
	line-height: 1.2;

	@include media('<widescreen') {
		font-size: 43px;
	}

	@include media('<desktop') {
		font-size: 35px;
	}
	@include media('<tablet') {
		font-size: 28px;
	}
}

h3 {
	font-size: 40px;
	line-height: 1.25;
	margin: 0 0 24px;

	@include media('<desktop') {
		font-size: 26px;
	}

	@include media('<tablet') {
		font-size: 23px;
	}
}

input[type="text"],
input[type="email"],
textarea,
input[type="search"],
input[type="password"] {
	display: block;
	width: 100%;
	background: #F6F7F8;
	border:2px solid #D8DBDD;
	outline: none;
	font-size: 15px;
	line-height: 1.467;
	font-weight: 400;
	height: 54px;
	padding: 10px 15px;

	@include placeholder {
		color: #BDBDBD;
	}
}

.form-group {
	margin: 0 0 8px;
}

label {
	font-size: 15px;
	line-height: 1.143;
	font-weight: 500;
}

textarea {
	height: 104px;
	resize: none;
	overflow: auto;
}

.btn-holder {
	padding: 20px 0 0;

	@include media('<tablet') {
		padding: 5px 0 0;
	}
}

.bg-stretch {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
}

.text-center {
	text-align: center;
}

.hidden-xs {
	@include media('<tablet') {
		display: none !important;
	}
}

.hidden {
	display: none !important;
}

.visible-xs {
	@include media('>=tablet') {
		display: none !important;
	}
}